<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Message</ion-title>
  </ion-toolbar>
  <ion-button (click)="goToMessageEcrirePage()" color="medium"> <ion-icon name="create"></ion-icon> </ion-button>
  <ion-toolbar collapse="condense">
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Message</ion-title>
    </ion-toolbar>
    <ion-toolbar>
      <ion-searchbar></ion-searchbar>
    </ion-toolbar>
  </ion-header>

  <ion-list *ngIf="exchangesDatas" [inset]="true">
    <!--<ion-icon name="createIcon"></ion-icon>-->
    <div *ngFor="let echange of exchangesDatas">
      <ion-item [button]="true" detail="false" (click)="goToMessageUserPage(echange.autre_dresseur.pseudo)">
        <div class="unread-indicator-wrapper" slot="start">
          <div class="unread-indicator"></div>
        </div>
        <ion-label>
         <strong>{{echange.autre_dresseur.pseudo}} </strong>
          <br />
          <ion-note color="medium" class="ion-text-wrap">
            Bonjour, je suis ravie que vous ma carte...
          </ion-note>
        </ion-label>
        <div class="metadata-end-wrapper" slot="end">
          <ion-note color="medium">06:11</ion-note>
        </div>
        <div class="metadata-end-wrapper" slot="end">
          <ion-note style="color: white;">État de l'échange: <ion-text color="secondary">{{echange.etat_dresseur}}</ion-text></ion-note>
        </div>
      </ion-item>
    </div>
  </ion-list>
</ion-content>
