<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
      
    </ion-toolbar>
  </ion-header>
  <ion-radio-group value="choix">
    <ion-radio value="cartesCochees" aria-label="Custom checkbox"></ion-radio>
    <ion-radio value="dresseursCochees" aria-label="Custom checkbox that is checked"></ion-radio>
  </ion-radio-group>
  <br>
  <br>
  <ion-radio-group value="autreChoix">
    <ion-radio value="nouveaute" aria-label="Custom checkbox"></ion-radio>
    <ion-radio value="pertinence" aria-label="Custom checkbox that is checked"></ion-radio>
  </ion-radio-group>
  <ion-card>
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
    <ion-card-content>
      Quantité
    </ion-card-content>
    <ion-card-content>
      Etat carte : neuf
    </ion-card-content>
    <ion-card-content>
      Type : reverse
    </ion-card-content>
    <ion-card-header>
      <ion-button color="primary">Echanger</ion-button>
      <ion-card-title>leMeilleurDresseur</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      J'aime trop Pokémon yeaaahh. 
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
    <ion-card-content>
      Quantité
    </ion-card-content>
    <ion-card-content>
      Etat carte : neuf
    </ion-card-content>
    <ion-card-content>
      Type : reverse
    </ion-card-content>
    <ion-card-header>
      <ion-button color="primary">Echanger</ion-button>
      <ion-card-title>Ondine</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
     Attrapez les tous !
    </ion-card-content>
  </ion-card>
</ion-content>
