<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <!--Choix de base-->
  <ion-radio-group [(ngModel)]="choix" (ionChange)="onChoixChange()">
    <ion-radio value="cartesCochees" aria-label="Custom checkbox"></ion-radio>
    <ion-label>Cartes</ion-label>
    <ion-radio value="mapDresseur" aria-label="Custom checkbox" ></ion-radio> <!--Dresseurs = map-->
   <ion-label>Dresseurs</ion-label> 
  </ion-radio-group>

  <br>
  <!--Ces boutons s'affichent seulement quand on est sur cartesPkm -->
  <ion-radio-group *ngIf="choix === 'cartesCochees'" [(ngModel)]="choixCartes"> <!--si cartes est sélectionné, nouveauté et pertinence apparaissent-->
    <ion-radio value="cartesNouveautes" aria-label="Custom checkbox"></ion-radio>
    <ion-label>Nouveauté&nbsp;</ion-label>
    <ion-radio value="pertinence" aria-label="Custom checkbox that is checked"></ion-radio>
    <ion-label>Pertinence</ion-label>
  </ion-radio-group>
  
 <!-- Affiche map quand dresseur est sélectionné-->
  <ion-content *ngIf="choix === 'mapDresseur'">
    <app-map></app-map>
  </ion-content>
   <!-- <ion-content id="ol-map" class="map-container"></ion-content> -->

<ion-content *ngIf="choix === 'cartesCochees'">
  <ion-card>
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
    <ion-card-content>
      printCurrentPosition
    </ion-card-content>
    <ion-card-content>
      Etat carte : neuf
    </ion-card-content>
    <ion-card-content>
      Type : reverse
    </ion-card-content>
    <ion-card-header>
      <ion-button color="primary">Echanger</ion-button>
      <ion-card-title>leMeilleurDresseur</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      J'aime trop Pokémon yeaaahh. 
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
    <ion-card-content>
      Quantité
    </ion-card-content>
    <ion-card-content>
      Etat carte : neuf
    </ion-card-content>
    <ion-card-content>
      Type : reverse
    </ion-card-content>
    <ion-card-header>
      <ion-button color="primary">Echanger</ion-button>
      <ion-card-title>Ondine</ion-card-title>
    </ion-card-header>
    <ion-card-content>
     Attrapez les tous !
    </ion-card-content>
  </ion-card>
</ion-content>

</ion-content>
