<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Profil</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logOut()">
        <ion-icon slot="start" [icon]="logOutIcon"></ion-icon>
        Déconnexion
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profil</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="logOut()">
          <ion-icon slot="start" [icon]="logOutIcon"></ion-icon>
          Déconnexion
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-item>
    
     
    <ion-avatar slot="start">
      <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar>
    <br>
    <ion-button (click)="takePictureTest()" color="medium">Modifier la photo de profil</ion-button>
    <img *ngIf="picture" [src]="picture.url" />
    <ion-label>Profil</ion-label>
  </ion-item>
  
  <ion-list>
    <ion-list>
      <ion-item>
        <ion-input value="{{dresseur.prenom}}"  placeholder="Ecrivez votre nouveau prénom"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-input label="{{dresseur.nom}}" placeholder="Ecrivez votre nouveau nom" ></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-input label="{{dresseur.pseudo}}" type="string" placeholder="Ecrivez votre nouveau pseudo" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="22.03.2001" type="date" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="*********" placeholder="Ecrivez votre nouveau mot de passe"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-input label="{{dresseur.email}}" type="email" placeholder="Ecrivez votre nouvelle adresse email : email@gmail.com"></ion-input>
      </ion-item>
    </ion-list>
  </ion-list>
  <ion-button (click)="goToProfilPage()"  class="custom-confirm-button"color="primary">Confirmer</ion-button>
</ion-content>
