<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Echanges</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Echanges</ion-title>
    </ion-toolbar>
  </ion-header>

    <ion-card>
      <img alt="Silhouette of mountains" height="300" src="https://ionicframework.com/docs/img/demos/card-media.png" />
      <ion-card-header>
        <ion-card-title>Voici vos échanges en attente</ion-card-title>
      </ion-card-header>
            <ion-label>Vous avez reçu une demande d'échange de la part de :</ion-label>
          <ion-item>
            <ion-thumbnail slot="start">
          <ion-button color="medium" (click)="goToAnotherPage()">  <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" /></ion-button> 
            </ion-thumbnail>
            <ion-label>LeDresseur</ion-label>
            <ion-button class="custom-confirm-button" color="primary">Confirmer</ion-button>
            <ion-button class="custom-delete-button"  color="danger">Supprimer</ion-button>
          </ion-item>

          <ion-item>
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
            </ion-thumbnail>
            <ion-label>sacha</ion-label>
            <ion-button class="custom-confirm-button"color="primary">Confirmer</ion-button>
            <ion-button class="custom-delete-button" color="danger">Supprimer</ion-button>
          </ion-item>

          <ion-item>
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
            </ion-thumbnail>
            <ion-label>ondine</ion-label>
            <ion-button  class="custom-confirm-button" color="primary">Confirmer</ion-button>
            <ion-button class="custom-delete-button" color="danger">Supprimer</ion-button>
          </ion-item>

          <ion-item lines="none">
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
            </ion-thumbnail>
            <ion-label>fanPokemon</ion-label>
            <ion-button class="custom-confirm-button" color="primary">Confirmer</ion-button>
            <ion-button class="custom-delete-button" color="danger">Supprimer</ion-button>
          </ion-item>
          <ion-item>
            Pokedresseur a accepté votre échange
          </ion-item>
          <ion-item>
            TeamRocket a refusé votre échange
          </ion-item>
      
      
    </ion-card>


</ion-content>

