/* Ajoutez ces styles à votre fichier de style (par exemple, layout.page.scss) */
.custom-align {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .custom-button {
    margin-left: 150px;
  }