<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Ajouter une carte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Ajouter une carte</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid [fixed]="true">
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col>
        <h2>Entre le numéro de la carte que tu veux ajouter:</h2>
        <a href="https://pokemontcg.guru/">Lien pour trouver numéro de carte</a>
      </ion-col>
      <ion-col>
        <form #addCardByNbForm="ngForm">
          <ion-input [(ngModel)]="cardNb" name="cardNb" label="Numéro de carte" label-placement="floating" fill="solid" placeholder="Enter un numéro de carte" required></ion-input>
          <ion-button [disabled]="!addCardByNbForm.valid" color="secondary" expand="block" (click)="isCardInDeck()">Ajouter</ion-button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid [fixed]="true">
    <ion-row>
      <ion-col>
        <h2 class="ion-text-center">Ou</h2>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid [fixed]="true">
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col>
        <h2>Entre le nom de la carte que tu veux ajouter:</h2>
      </ion-col>
      <ion-col>
        <ion-searchbar [(ngModel)]="nameSearch" (keyup.enter)="onSearchInput()" show-cancel-button="focus" placeholder="Show on Focus"></ion-searchbar>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid [fixed]="true" *ngIf="filteredCards">
    <ion-row>
      <div *ngFor="let card of filteredCards">
        <ion-col *ngIf="card.images.small">
          <ion-card (click)="goToNewCardPage(card.id)">
            <img width="250" src="{{card.images.small}}">
          </ion-card>
        </ion-col>
      </div>
    </ion-row>
  </ion-grid>
</ion-content>


