<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Connexion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Connexion</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="ion-padding">
    <form #loginForm="ngForm" (submit)="onSubmit(loginForm)">
      <!-- Pseudo input -->
      <ion-input
        label="Pseudo"
        labelPlacement="floating"
        inputmode="text"
        #pseudo="ngModel"
        required="true"
        name="pseudo"
        [(ngModel)]="authRequest.pseudo"
      ></ion-input>
      <!-- Error message displayed if the pseudo is invalid -->
      <ion-text color="danger" *ngIf="pseudo.invalid && pseudo.touched"
        >Le pseudo est requis.</ion-text
      >
  
      <!-- Password input -->
      <ion-input
        label="Mot de passe"
        labelPlacement="floating"
        inputmode="text"
        #password="ngModel"
        required="true"
        type="password"
        name="password"
        [(ngModel)]="authRequest.mot_de_passe"
      ></ion-input>
  
      <!-- Error message displayed if the password is invalid -->
      <ion-text color="danger" *ngIf="password.invalid && password.touched"
        >Le mot de passe est requis.</ion-text
      >
  
      <!-- Submit button -->
      <ion-button type="submit" expand="block" [disabled]="loginForm.invalid"
        >Se connecter</ion-button
      >
  
      <!-- Error message displayed if the login failed -->
      <ion-text color="danger" *ngIf="loginError"
        >Le pseudo ou le mot de passe n'est pas valide.</ion-text
      >
    </form>
  </div>
</ion-content>
