/* message-utilisateur.page.scss */

ion-content {
    --background: #f0f0f0; /* Couleur gris clair de fond */
  }
  
  .chat-container {
    padding: 10px;
  }
  
  .user-message {
    text-align: right; /* Aligner le texte à droite */
  }
  
  .other-message {
    text-align: left;
  }

  .input-wrapper {
    justify-content: end;
  }
  
  
  ion-item.user-message ion-label {
    float: right; /* Aligner le label à droite */
  }
  
  ion-avatar {
    margin-right: 10px;
  }
  
  ion-footer {
    ion-toolbar {
      --ion-background-color: #f8f8f8;
    }
  }
  