<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Message</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Message</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-button (click)="goToMessagePage()"><ion-icon name="chevron-back-outline"></ion-icon></ion-button>
    <p>LeDresseur</p>
    <ion-list lines="none" class="chat-container">
      <ion-item *ngFor="let message of messages.slice().reverse(); let i = index"
                [class]="message.sender === 'user' ? 'user-message' : 'other-message'">
        <ion-avatar *ngIf="message.sender !== 'user'">
          <img src="https://ionicframework.com/docs/demos/api/avatar/avatar.svg" alt="Profile Image">
        </ion-avatar>
        <ion-label>
          <h2>{{ message.sender }}</h2>
          <p>{{ message.text }}</p>
        </ion-label>
      </ion-item>
    </ion-list>

    <ion-list [inset]="true">
      <ion-item>
        <ion-textarea [(ngModel)]="newMessageText" rows="1" placeholder="Message"></ion-textarea>
        <ion-button (click)="sendMessage()">Envoyer</ion-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-content>
