<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Profil</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logOut()">
        <ion-icon slot="start" [icon]="logOutIcon"></ion-icon>
        Déconnexion
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profil</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="logOut()">
          <ion-icon slot="start" [icon]="logOutIcon"></ion-icon>
          Déconnexion
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
    
  </ion-header>
  <ion-item>
    <ion-avatar slot="start">
      <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar>
    <ion-button (click)="goToProfilModificationPage()"color="medium"> <ion-icon [icon]="pencil" class="pencil-icon"></ion-icon></ion-button>
    <ion-label>Profil</ion-label>
  </ion-item>
  
  <ion-list>
    <ion-list>
      <ion-item>
        <ion-input value="{{dresseur.prenom}}" readonly></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-input label="{{dresseur.nom}}" readonly></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-input label="{{dresseur.pseudo}}" type="string" readonly></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-input label="{{dresseur.date_naissance}}" readonly></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-input label="{{dresseur.email}}" type="email" readonly></ion-input>
      </ion-item>
  
    </ion-list>
  </ion-list>

</ion-content>
